<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="card">
      <h5 class="card-header">SUCCESS!</h5>
      <div class="card-body">
        <h5 class="card-title">You have successfully forked a "DataRobot" repository.</h5>
        <p class="card-text">Now in your own GitHub account you can find repository with Installation and
            Technical specification documents. Read them and try to install this application to your own computer.<br>
            <b>Press the "GO!" button below for redirection to your repo with the application code.</b>
        </p>
        <a href="{{ link_to_repo }}" class="btn btn-success">GO</a>
      </div>
    </div>
</body>
</html>